[Unit]
Description=BOINC Idle Detection Service

[Service]
Type=simple
ProtectHome=false
ExecStart=/usr/local/bin/idle_detect.sh /home/jco/.config/idle_detect.conf

[Install]
WantedBy=default.target
