[Unit]
Description=BOINC Idle Detection Service
After=graphical-session.target

[Service]
Type=simple
ProtectHome=read-only
ExecStart=/usr/local/bin/idle_detect %h/.config/idle_detect.conf
Restart=on-failure
RestartSec=5s
ProtectSystem=strict
NoNewPrivileges=yes

[Install]
WantedBy=graphical-session.target
